@model luce_MIS4200_940.Models.customerOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>customerOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customerOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
